body{
    background-color:rgba(166, 192, 216, 0.349); 
    /* margin: 0; */
    padding: 4em;
    font-family: sans-serif;
}

section{
    border: 1px solid rgb(166, 192, 216);
    padding: 0 5em 5em 8em;
    margin: 0 20em;
    background-color: snow;
}

span{
    color: #FFF;
    background-color: rgb(45, 192, 177);
    border-radius: 2px;
    padding: 5px 0;
}

input{
    background-color: rgba(166, 192, 216, 0.349);
    padding: 10px 50px 10px 0;
    border-radius: 3px;
}

button{
    color: #FFF;
    background-color: rgb(21, 189, 255);
    width: 16em;
    height: 40px;
    border-radius: 3px;
}